.sign-in__form {
}

.sign-in__input {
  padding: 10px 15px;
  font-size: 14px;
  line-height: 18px;
  color: rgb(136, 136, 136);
}

.sign-in__input:hover {
  color: rgb(31, 31, 31);
  transition: color 0.3s ease;
}

.sign-in__button {
  font-family: 'Roboto', sans-serif;
  padding: 10px 70px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #fff;
  background-color: #2ba712;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 5px #a5a5a59c;
}

.sign-in__button:hover {
  background-color: #25970e;
  transition: background-color 0.4s ease;
  box-shadow: 1px 3px 10px #919191b4;
  cursor: pointer;
}
